@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
#navbar{
    height: 10vh;
    padding: 5px 2%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid lightgray;

}
#navbar img{
    height: 50%;
}
#navbar>#section1{
    height: 100%;
    width: 62%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar>#section1 p {
    font-weight: 500;
    cursor: pointer;
}
#navbar>#section1>#subSection1{
    display: flex;
    width: 75%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
#navbar>#section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.pinkOnHover{
    color: black;
    text-decoration: none;
}
.pinkOnHover:hover{
    color:#fc2779;
}
#searchContainer{
    height: 75%;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
}
#searchBar{
    border: none;
    background-color: #f4f4f4;
height: 75%;
}
svg {
    height: 33%;
    color: black;
}
.btn {
    height: 66%;
    font-size: 14px;
    font-weight: 600;
    margin: 0 2.5vw;
    cursor: pointer;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    background: #E80071;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #FF3399;
    text-decoration: none;
}
#navbar>#section3{
display: flex;
align-items: center;
padding: 5px 0;
justify-content: space-around;
}
#bagSvg{
    padding: 5px 2.5vw;
}
#subNavBar{
    display: grid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 2.5%;
    text-align: center;
    grid-template-columns: repeat(12,1fr);
}
.subNavItems{
    font-size: 14px;    
    color: gray;
    cursor: pointer;
}
.subNavItems:hover {
    text-decoration:underline  #FF3399 3px;
}

#carousel1{
    display: grid;
    width: 90%;
    margin: 20px auto;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}