@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
font-family: 'Inter', sans-serif;
text-align: center;
}
img{
    border-radius: 5px;
}
#cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-width: 90vw;
    min-height: 85vh;
    border: solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover{
    cursor: pointer;
}
#proceed{
    color: ghostwhite;
    border: 0;
}
#proceed:hover{
    background-color: rgb(255, 3, 125);
    color: white;
}
#items{
    width: 90%;
}
#items>.item,#tp{
    border: 2px solid  rgb(212, 212, 194);
    display: flex;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    height: fit-content;
}
#items > .item  h3{
    margin-top: 0px;
}
.item>div{
    margin-left: 10px;
}
h6,p,span{
    margin-top: 0px;
    padding: 0px;
}
div h6{
    display: inline;
}
h6+button{
    margin: 10px;
}
#tp > button{
    width: 40%;
    height: 90%;
    float: right;
    /* margin: 5px; */
    background-color: rgb(232, 0, 113);
    border-color: rgb(232, 0, 113);
    text-decoration-color: white;
    border-radius: 6px;
}
#tp > h2{
    margin: auto;
    margin-left: 0px;
}
#tp{
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    border-color: white;
    position: static;
}
